In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from pathlib import Path

In [5]:
# Initialize list containing company name
# Order in this list will determine CompanyID
CompanyNames = ["Amazon", "Apple", "Facebook", "Google", "Netflix"]

#initialize dataframe that will hold all stock data
stock_df = pd.DataFrame()

In [6]:
# For loop to pull company name, read in csv file, and create a 
# master list of stock data for all companies combined
for company in CompanyNames:

    # defines path where individual companies' stock data can be found
    data_to_load = Path(f"Resources/{company}.csv")

    # reads in stock data and assigns it to dataframe
    company_data = pd.read_csv(data_to_load)

    # creates new column and assigns companyID relative to position 
    # of company in original companyNames list
    company_data.insert(0,"CompanyID", CompanyNames.index(company), True)
    
    # adds individual stock data to master list of stock information
    stock_df = pd.concat([stock_df,company_data],ignore_index=True, sort=False)

stock_df

,CompanyID,Date,Open,High,Low,Close,Adj Close,Volume
0,0,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000.0
1,0,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000.0
2,0,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800.0
3,0,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200.0
4,0,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200.0
...,...,...,...,...,...,...,...,...
26561,4,2020-07-28,496.019989,497.790009,487.760010,488.510010,488.510010,5986700.0
26562,4,2020-07-29,492.250000,494.920013,484.130005,484.480011,484.480011,6611800.0
26563,4,2020-07-30,480.709991,488.350006,477.510010,485.799988,485.799988,6608600.0
26564,4,2020-07-31,488.290009,494.799988,484.500000,488.880005,488.880005,5924300.0
26565,4,2020-08-03,490.859985,503.089996,490.230011,498.619995,498.619995,5873100.0

In [ ]:
# TO DO LIST
###### Add csv write function
###### Confirm amount of rows of output(26566) matches input rows for stock_df
###### read in CEO table, assign Company ID systemically, maybe CEOID?
###### Create COmpany csv systemically
###### finalize ERD schema
###### finalize CEO bibliography
###### pul yearlyworth data
###### revisit sql vs nosql
###### create database and queries for presentation