In [18]:
import pandas as pd
from pathlib import Path

In [19]:
# Initialize company names
CompanyNames = ["Amazon", "Apple", "Facebook", "Google", "Netflix"]

# Initialize dataframe that will hold all NET WORTH information (market capitalization)
market_cap = pd.DataFrame()

In [20]:
#For loop make a master key of market cap data for all companies

for company in CompanyNames:

    # read in data from all companies
    company_cap_data = pd.read_excel(f"../Resources/{company}_market_capitalization.xlsx")
    
    # creates new column and assigns companyID relative to position 
    # of company in original companyNames list
    company_cap_data.insert(0,"CompanyID", CompanyNames.index(company), True)

     # adds individual market capitalization data to master list of NET WORTH information
    market_cap = pd.concat([market_cap,company_cap_data],ignore_index=True, sort=False)

market_cap

     CompanyID  Year  MarketCap  Change
0            0  2024   $2.008 T  0.2793
1            0  2023   $1.570 T  0.8323
2            0  2022  $856.94 B -0.4932
3            0  2021   $1.691 T  0.0348
4            0  2020   $1.634 T  0.7758
..         ...   ...        ...     ...
96           4  2006    $1.77 B  0.1975
97           4  2005    $1.48 B  1.2789
98           4  2004    $0.65 B -0.4242
99           4  2003    $1.12 B  3.9673
100          4  2002    $0.22 B     NaN

[101 rows x 4 columns]

In [21]:
market_cap["MarketCap"]= market_cap["MarketCap"].str.replace("$", "")
market_cap

     CompanyID  Year MarketCap  Change
0            0  2024   2.008 T  0.2793
1            0  2023   1.570 T  0.8323
2            0  2022  856.94 B -0.4932
3            0  2021   1.691 T  0.0348
4            0  2020   1.634 T  0.7758
..         ...   ...       ...     ...
96           4  2006    1.77 B  0.1975
97           4  2005    1.48 B  1.2789
98           4  2004    0.65 B -0.4242
99           4  2003    1.12 B  3.9673
100          4  2002    0.22 B     NaN

[101 rows x 4 columns]

In [22]:
market_cap.insert(0,"CBilTrill", "1", True)
market_cap.insert(0,"MarketCap(Billions)", "0", True)
market_cap

    MarketCap(Billions) CBilTrill  CompanyID  Year MarketCap  Change
0                     0         1          0  2024   2.008 T  0.2793
1                     0         1          0  2023   1.570 T  0.8323
2                     0         1          0  2022  856.94 B -0.4932
3                     0         1          0  2021   1.691 T  0.0348
4                     0         1          0  2020   1.634 T  0.7758
..                  ...       ...        ...   ...       ...     ...
96                    0         1          4  2006    1.77 B  0.1975
97                    0         1          4  2005    1.48 B  1.2789
98                    0         1          4  2004    0.65 B -0.4242
99                    0         1          4  2003    1.12 B  3.9673
100                   0         1          4  2002    0.22 B     NaN

[101 rows x 6 columns]

In [23]:
market_cap.loc[market_cap['MarketCap'].str.split(expand=True)[1] == "T", 'CBilTrill'] = 1000
market_cap

    MarketCap(Billions) CBilTrill  CompanyID  Year MarketCap  Change
0                     0      1000          0  2024   2.008 T  0.2793
1                     0      1000          0  2023   1.570 T  0.8323
2                     0         1          0  2022  856.94 B -0.4932
3                     0      1000          0  2021   1.691 T  0.0348
4                     0      1000          0  2020   1.634 T  0.7758
..                  ...       ...        ...   ...       ...     ...
96                    0         1          4  2006    1.77 B  0.1975
97                    0         1          4  2005    1.48 B  1.2789
98                    0         1          4  2004    0.65 B -0.4242
99                    0         1          4  2003    1.12 B  3.9673
100                   0         1          4  2002    0.22 B     NaN

[101 rows x 6 columns]

In [24]:
market_cap["MarketCap"]= market_cap["MarketCap"].str.replace(" T", "")
market_cap["MarketCap"]= market_cap["MarketCap"].str.replace(" B", "")
market_cap

    MarketCap(Billions) CBilTrill  CompanyID  Year MarketCap  Change
0                     0      1000          0  2024     2.008  0.2793
1                     0      1000          0  2023     1.570  0.8323
2                     0         1          0  2022    856.94 -0.4932
3                     0      1000          0  2021     1.691  0.0348
4                     0      1000          0  2020     1.634  0.7758
..                  ...       ...        ...   ...       ...     ...
96                    0         1          4  2006      1.77  0.1975
97                    0         1          4  2005      1.48  1.2789
98                    0         1          4  2004      0.65 -0.4242
99                    0         1          4  2003      1.12  3.9673
100                   0         1          4  2002      0.22     NaN

[101 rows x 6 columns]

In [25]:
market_cap["MarketCap"] = market_cap["MarketCap"].astype("float")
market_cap["MarketCap(Billions)"]=market_cap["MarketCap(Billions)"].astype("float")
market_cap["CBilTrill"] = market_cap["CBilTrill"].astype("int")

In [26]:
market_cap.dtypes

MarketCap(Billions)    float64
CBilTrill                int32
CompanyID                int64
Year                     int64
MarketCap              float64
Change                 float64
dtype: object

In [27]:
market_cap["MarketCap(Billions)"] = market_cap["MarketCap"] * market_cap["CBilTrill"]
market_cap

     MarketCap(Billions)  CBilTrill  CompanyID  Year  MarketCap  Change
0                2008.00       1000          0  2024      2.008  0.2793
1                1570.00       1000          0  2023      1.570  0.8323
2                 856.94          1          0  2022    856.940 -0.4932
3                1691.00       1000          0  2021      1.691  0.0348
4                1634.00       1000          0  2020      1.634  0.7758
..                   ...        ...        ...   ...        ...     ...
96                  1.77          1          4  2006      1.770  0.1975
97                  1.48          1          4  2005      1.480  1.2789
98                  0.65          1          4  2004      0.650 -0.4242
99                  1.12          1          4  2003      1.120  3.9673
100                 0.22          1          4  2002      0.220     NaN

[101 rows x 6 columns]

In [31]:
market_cap = market_cap.drop(["CBilTrill","MarketCap"], axis=1)

In [32]:
market_cap.columns

Index(['MarketCap(Billions)', 'CompanyID', 'Year', 'Change'], dtype='object')

In [30]:
# write stock data to CSVfile
market_cap.to_csv("../Resources/market_cap.csv", index=False)